.sideMenu {
  padding-top: 20px;
  color: gray;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0;
  }
  ul {
    li {
      font-size: 18px;
    }
  }
  .logo {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
