.side-menu {
  flex: 0 0 350px!important;
  width:250px!important ;
  max-width: 250px!important;
    min-width: 250px!important;
    width: 250px!important;
    padding-top: 20px;
    color: gray;
  .title {
    display: flex;
    justify-content: center;
    font-size: 35px;
  }
  ul{
    li{
      font-size: 18px;
    }
  }
}
