@font-face {
  font-family: lexend-400;
  src: url(../shared/media/fonts/Lexend-Regular.ttf);
}
* {
  font-family: lexend-400;
  // color: #4d5f71!important ;
  // font-size: 16px;
}
th,tr,td, h1, label{
  color: #4d5f71!important;
}
th,tr,td td a{
font-size: 15px;
}

a{
  color: #4d5f71!important;
}
a:focus{
  color: #1677ff!important;
}