@font-face {
  font-family: lexend-400;
  src: url(../shared/media/fonts/Lexend-Regular.ttf);
}
* {
  font-family: lexend-400;
  // color: #4d5f71!important ;
  font-size: 16px;
}
th,tr, h1{
  color: #4d5f71!important ;

}
a{
  color: #4d5f71!important ;
}
a:focus{
  color: #1677ff!important;
}